body {
    background-image: url("http://images.all-free-download.com/images/graphicthumb/fence_made_of_metal_wire_vector_background_graphic_551702.jpg");
    background-repeat: repeat-x, y;
}

div#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: orangered;
    height: 3px;
    z-index: 1000;
}

img#cover {
    height: 290px;
    display: block;
    margin: auto;
    width: 100%;
    z-index: -100;
}

pre#covertext {
    color: orangered;
    text-align: center;
    font-size: 55px;
    font-family: "Lucida Console", Monaco, monospace;
    position: absolute;
    top: 10%;
    left: 10%;
    display: block;
    -webkit-transform: rotate(-15deg);
    z-index: 0;
}

div#coverimg {
    margin-left: 269px;
    border-bottom-style: solid;
    border-color: silver;
    height: 300px;
    border-width: 1px;
    max-width: 800px;
    position: fixed;
    top: 4px;
    width: 100%;
    z-index: -100;
}

.leftbut {
    background-color: white;
    position: relative;
    max-width: 215px;
    padding: 5px 3px;
    margin-top: 315px;
    margin-left: 269px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    background-color: black;
}

.button {
    display: block;
    text-align: right;
    padding: 3px 5px;
    text-decoration: none;
    background-color: black;
    font-size: 18px;
    border-top: 4px solid lightgreen;
    border-right: 4px double lightgreen;
    color: grey;
    margin: 12px;
    font-family: "Trebuchet MS";
    border-left: 4px solid black;
    border-bottom: 4px solid black;
}

.button:hover {
    border-top: 4px solid green;
    border-right: 4px double green;
    color: white;
}

.button-scrolled {
    position: fixed;
    top: -300px;
    margin-left: 276px;
    left: 1px;
    right: 1px;
}

div#black {
    background-color: black;
    height: 1600px;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: -268px;
    z-index: -1;
}

div#content {
    background-color: black;
    position: absolute;
    left: 510px;
    top: 315px;
    max-width: 546px;
    height: 1000px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    padding: 10px;
    color: white;
}

h1#title {
    font-family: "Arial Black", Gadget, sans-serif;
}

h3#subtitle {
    margin-left: 10px;
    font-style: italic;
}

p#ref {
    word-wrap: break-word;
    font-family: "Times New Roman", Times, serif;
    margin-left: 20px;
    text-indent: -2em;
    padding-left: 25px;
}

.links {
    text-decoration: none;
}